<?xml version="1.0" encoding="utf-8"?>
<!--Aqui comienza el robot-->
<robot name="Propuesta2" xmlns:xacro="http://ros.org/wiki/xacro" >

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="base_link_to_link_1">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="link_1_to_link_2">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="link_2_to_link_3">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="link_3_to_link_4">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

    <!--Pluging de control -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control" >
            <parameters>$(find ${package_name})/config/Propuesta2_position_controller.yaml</parameters>
        </plugin>
    </gazebo>


</robot>