<?xml version="1.0" encoding="utf-8"?>
<!--Aqui comienza el robot-->
<robot name="robot_scara" xmlns:xacro="http://ros.org/wiki/xacro" >

    <gazebo reference="base_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="link_1">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="link_2">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="link_3">
        <material>Gazebo/Green</material>
    </gazebo>

</robot>